---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="mx-auto max-w-screen-lg flex justify-between">
      <h1 class="text-4xl text-blue-700">Is Tailwind Working?</h1>
	  <h1 class="text-4xl text-blue-700">Is Tailwind Working?</h1>
	</main>
</Layout>


